server:
  port: 8082

# --- ¡CONFIGURACIÓN DE SEGURIDAD (CONFIANZA CERO)! ---
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          # Este servicio también contactará al iam-service para
          # descargar la clave pública y validar los tokens.
          jwk-set-uri: "http://localhost:8081/api/v1/jwks/.well-known/jwks.json"

  # --- Base de Datos (Propia del Delivery-Service) ---
  datasource:
    url: jdbc:postgresql://${POSTGRESHOST}:${POSTGRESPORT}/${POSTGRES_DATABASE}
    username: ${POSTGRESUSER:postgres}
    password: ${POSTGRESPASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update # 'validate' o 'none' en producción
      naming:
        physical-strategy: org.upc.fleetservice.shared.infrastructure.persistence.jpa.configuration.strategy.SnakeCaseWithPluralizedTablePhysicalNamingStrategy
    show-sql: true

springdoc:
  # Habilitamos la generación del JSON de OpenAPI
  api-docs:
    enabled: true
    # Esta es la URL donde expondrán su JSON
    path: /v3/api-docs
  # ¡DESHABILITAMOS la UI en el microservicio! El Gateway se encargará.
  swagger-ui:
    enabled: false
