server:
  port: 8081

authorization:
  jwt:
    # Ruta a las claves que están en 'src/main/resources' del iam-service
    private-key-path: "classpath:jwt.key"
    public-key-path: "classpath:jwt.key.pub"
    expiration:
      days: 7

spring:
  datasource:
    url: jdbc:postgresql://${POSTGRESHOST}:${POSTGRESPORT}/${POSTGRES_DATABASE}
    username: ${POSTGRESUSER:postgres}
    password: ${POSTGRESPASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update # 'validate' o 'none' en producción
      naming:
        physical-strategy: org.upc.iamservice.shared.infrastructure.persistence.jpa.configuration.strategy.SnakeCaseWithPluralizedTablePhysicalNamingStrategy
    show-sql: true

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: false
