version: "3.9"

services:
  config-service:
    build: ./config-service
    container_name: config-service
    environment:
      - SPRING_PROFILES_ACTIVE=native
    ports: ["8888:8888"]
    healthcheck:
      test: ["CMD","curl","-f","http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 10

  eureka-service:
    build: ./eureka-service
    container_name: eureka-service
    depends_on:
      config-service:
        condition: service_healthy
    ports: ["8761:8761"]   # solo para ver dashboard en local
    healthcheck:
      test: ["CMD","curl","-f","http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 10

  iam-service:
    build: ./iam-service
    container_name: iam-service
    depends_on:
      eureka-service:
        condition: service_healthy
    environment:
      - POSTGRESHOST=${IAM_POSTGRESHOST}
      - POSTGRESPORT=${IAM_POSTGRESPORT}
      - POSTGRES_DATABASE=${IAM_POSTGRES_DATABASE}
      - POSTGRESUSER=${IAM_POSTGRESUSER}
      - POSTGRESPASSWORD=${IAM_POSTGRESPASSWORD}
    healthcheck:
      test: ["CMD","curl","-f","http://localhost:8081/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 10

  fleet-service:
    build: ./fleet-service
    container_name: fleet-service
    depends_on:
      iam-service:
        condition: service_healthy
    environment:
      - POSTGRESHOST=${FLEET_POSTGRESHOST}
      - POSTGRESPORT=${FLEET_POSTGRESPORT}
      - POSTGRES_DATABASE=${FLEET_POSTGRES_DATABASE}
      - POSTGRESUSER=${FLEET_POSTGRESUSER}
      - POSTGRESPASSWORD=${FLEET_POSTGRESPASSWORD}
    healthcheck:
      test: ["CMD","curl","-f","http://localhost:8082/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 10

  delivery-service:
    build: ./delivery-service
    container_name: delivery-service
    depends_on:
      iam-service:
        condition: service_healthy
    environment:
      - POSTGRESHOST=${DELIVERY_POSTGRESHOST}
      - POSTGRESPORT=${DELIVERY_POSTGRESPORT}
      - POSTGRES_DATABASE=${DELIVERY_POSTGRES_DATABASE}
      - POSTGRESUSER=${DELIVERY_POSTGRESUSER}
      - POSTGRESPASSWORD=${DELIVERY_POSTGRESPASSWORD}
    healthcheck:
      test: ["CMD","curl","-f","http://localhost:8083/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 10

  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    depends_on:
      eureka-service:
        condition: service_healthy
      iam-service:
        condition: service_healthy
      fleet-service:
        condition: service_healthy
      delivery-service:
        condition: service_healthy
    ports: ["8080:8080"]
    healthcheck:
      test: ["CMD","curl","-f","http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 10
